/**
 * @Author: 魏巍
 * @Date:   2017-07-31T16:54:43+08:00
 * @Email:  524314430@qq.com
 * @Last modified by:   魏巍
 * @Last modified time: 2017-12-11T09:34:33+08:00
 */



/*ul.points介绍样式*/
.points{padding-left:16px;margin-left:0px;list-style:decimal;}
.databox-right>.databox-text>a {display: inline-block;color: #2dc3e8;font-size:14px;}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(even)>td{text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis;white-space:nowrap;}
.table-striped>tbody>tr>td{cursor:pointer;}
.zindex{z-index:100;overflow:hidden;}
.base-info{}
.base-info li{line-height:2em;}
.image-preview{width:100%; height:auto;padding-bottom:5px;margin-top:10px;  }
.preview-item{float: left;width:110px;height:auto;margin-right:10px;position:relative;  }
.preview-item i{position:absolute;right:0; top:-2px;color:mediumvioletred;cursor:pointer;  }
.preview-item img{width: 100px;height:120px;  }
#progress{color:#ffffff;}
.pl-0{padding-left:0;}
.pt-0{padding-top:0;}
.pr-0{padding-right:0;}
.pb-0{padding-bottom:0;}
.ml-0{margin-left:0;}
.mt-0{margin-top:0;}
.mr-0{margin-right:0;}
.mb-0{margin-bottom:0;}
.minicolors-swatch{border:1px solid #eeeeee;}
.mt5{margin-top:5px;}
.image-preview{
    width:100%;
    height:auto;
    padding-bottom:5px;
    margin-top:10px;
}
.preview-item{
    float: left;
    width:110px;
    height:auto;
    margin-right:10px;
    position:relative;
}
.preview-item i{
    position:absolute;
    right:0;
    top:-2px;
    color:mediumvioletred;
    cursor:pointer;
}
.preview-item img{
    width: 100px;
    height:120px;
}
.date-events li {
  line-height: 20px;
  list-style: decimal;
}

.date-events li span {
  margin-right: 10px;
}
