<include file="public:header" title="基本信息" this="__CSS__/compiled/gallery.css"/>
<include file="public:navbar"/>
<include file="public:sidebar"/>
<style>
    .icon i{
        color:white;
        font-size:22px;
    }
</style>
<!-- main container -->
<div class="content">
    <div id="pad-wrapper" class="gallery">
        <div class="row header">
            <div class="col-md-12">
                <h3>可申请产品</h3>
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>
        <!-- gallery wrapper -->
        <div class="gallery-wrapper">
            <div class="row gallery-row">

                <!-- single image -->
                <volist name="list" id="vo">
                    <div class="col-md-3 img-container">
                        <div class="img-box">
                        <!--<span class="icon edit">-->
                             <!--<i class="icon-trash"  title="删除产品"></i>-->
                        <!--</span>-->
                            <!--<span class="icon trash">-->
                            <!--<i class="icon-eye-open" title="查看收益"></i>-->
                        <!--</span>-->
                            <img src="{$vo.image}" height="200" width="220"/>
                            <p class="title">{$vo.title}</p>
                            <p>价格 <span class="text-danger">{$vo.price}</span></p>
                            <p>分成 <span class="text-danger">{$vo.divides*100}%</span></p>
                            <p>短地址: <code>{$vo.short_url}</code> <a href="javascript:;" class="copy" data-clipboard-action="copy" data-clipboard-target="code">复制地址</a></p>
                            <p>长地址: <span class="url">{$vo.url}</span> <a href="javascript:;"  class="copy" data-clipboard-action="copy" data-clipboard-target="span.url">复制地址</a></p>
                        </div>
                    </div>
                </volist>
            </div>
            <div>
                {$list->render()}
            </div>
        </div>
    </div>
</div>
<script src="__PLUG__/clipboard.js/dist/clipboard.js"></script>
<script>
    $(function () {
        var clipboard = new Clipboard('.copy');
    });
</script>
<include file="public:footer"/>