<include file="public:header" title="基本信息" this="__CSS__/compiled/gallery.css"/>
<include file="public:navbar"/>
<include file="public:sidebar"/>
<style>
    .icon i{
        color:white;
        font-size:22px;
    }
</style>
<!-- main container -->
<div class="content">
    <div id="pad-wrapper" class="gallery">
        <div class="row header">
            <div class="col-md-12">
                <h3>可申请产品</h3>
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>
        <!-- gallery wrapper -->
        <div class="gallery-wrapper">
            <div class="row gallery-row">
                <!-- single image -->
                <volist name="list" id="vo">
                    <div class="col-md-3 img-container">
                        <div class="img-box">
                        <span class="icon edit">
                             <i class="icon-plus" title="申请产品" data-role="{$vo.id}"></i>
                        </span>
                            <img src="{$vo.image}" height="150" width="220"/>
                            <p class="title">
                                {$vo.title}
                            </p>
                            <p>价格 <span class="text-danger">{$vo.price}</span></p>
                            <p>分成 <span class="text-danger">{$vo.divides*100}%</span></p>
                        </div>
                    </div>
                </volist>
            </div>
            <div>
                {$list->render()}
            </div>
        </div>
    </div>
 </div>
</div>
<script>
    $(function () {
        $(document).on('click','.icon-plus',function () {
            var id =$(this).attr('data-role');
            layer.confirm('您确定要获取此外产品吗?', {
                btn: ['是的确定','不没想好']
            }, function(){
                var index = layer.load(2, {
                    shard: [0.6, "#000"]
                });
                $.post('{:Url("/account/add_product")}',{id:id},function(result){
                    layer.close(index);
                    if (result.status==1) {
                        layer.confirm(result.msg, {
                            btn: ['好的现在就去转发','不没我要看其他产品']
                        },function () {
                            window.location.href=result.redirect;
                        });
                    }else{
                        layer.alert(result.msg,{icon:5});
                    }
                });
            });
        });
    })
</script>
<include file="public:footer"/>