<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="__CSS__/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="__CSS__/bootstrap/bootstrap-overrides.css" rel="stylesheet">
    <!-- global styles -->
    <link rel="stylesheet" href="__CSS__/compiled/layout.css">
    <link rel="stylesheet" href="__CSS__/compiled/elements.css">
    <link rel="stylesheet" href="__CSS__/compiled/icons.css">
    <!-- libraries -->
    <link rel="stylesheet" href="__CSS__/lib/font-awesome.css">
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/signin.css" media="screen" />
    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- scripts -->
    <script src="__JS__/jquery-1.11.1.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__PLUG__/layer/layer.js"></script>
    <script src="__JS__/theme.js"></script>
    <style>
        .login-wrapper .box .content-wrap{
            text-align:left;
        }
        .login-wrapper .box .content-wrap .action{
            text-align:center;
        }
        label.error{
            color:red;
        }
    </style>
</head>
<body>
<div class="login-wrapper">
    <a href="{:Url('/')}">
        <img class="logo" src="{$site.logo}">
    </a>
    <div class="box">
        <form action="{:Url('/user/login')}" autocomplete="off">
            <div class="content-wrap">
                <h6>登录</h6>
                <input class="form-control" type="text" name="phone" id="phone" placeholder="手机号">
                <input class="form-control" type="password" name="password" id="password" placeholder="密码">
                <a href="{:Url('/user/forget')}" class="forgot">忘记密码?</a>
                <div class="action">
                    <button type="submit" class="btn-glow primary login">登录</button>
                </div>
            </div>
        </form>
    </div>
    <div class="no-account">
        <p>还没账号?</p>
        <a href="{:Url('/user/signup')}">注册</a>
    </div>
</div>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script src="__PLUG__/jquery.validate.ext.js"></script>
<script>
    var countdown=60,strat_flag=true;
    $(function () {
        $("form").validate({
            rules: {
                phone: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                phone: {
                    required: "请输入用手机号/邮箱"
                },
                password: {
                    required: "请输入密码"
                }
            }
        });
        $(document).on('submit','form',function (e) {
            e.preventDefault();
            var index = layer.load(2, {
                shard: [0.6, "#000"]
            });
            var form = $('form');
            $.post(form.attr('action'),form.serialize(),function (result) {
                layer.close(index);
                if(result.status==0){
                    layer.msg(result.msg, {
                        offset: 'm',
                        anim: 6
                    });
                }else{
                    window.location.href=result.redirect;
                }
            });
        });
        $(document).on('click','.btnVerify',function(){
            var phone = $('input[name="phone"]').val();
            $("form").validate().element($("#phone"));
            if(phone==''){
                return false;
            }
            if(strat_flag){
                settime();
                strat_flag=false;
                $.post('{:Url("/user/message")}',{tel:phone,t:1},function (result){ });
            }
        });

        $(document).on('click','.btn-default',function(){
            $.ajax({
                url:"http://pinkan.cn/wap/oder/get_openid",
                dataType:'jsonp',
                data:'',
                jsonp:'callback',
                success:function(result) {
                    console.log(result);
                }
            });
        })
    });
    function settime() {
        if (countdown == 0) {
            strat_flag = true;
            $('.btnVerify').text("获取验证码");
            countdown = 60;
        }else{
            strat_flag = false;
            $('.btnVerify').html("重新发送(" + countdown + ")");
            countdown--;
            setTimeout(function() {
                settime();
            },1000);
        }
    }
</script>
<include file="public:footer"/>