
html{

}
$font-site:1rem;
$headings: (red:red,darkred: darkred,green:green,darkgreen:darkgreen, pink: pink,blue:blue,darkblue:darkblue);
$block: (5:5px,10: 10px,15:15px,20:20px, 25: 25px,30:30px,35:35px);
body{

}

@each $index, $color in $headings {
  .bs-fg-#{$index} {
    color:$color;
  }
}
@each $index, $color in $headings {
  .bs-bg-#{$index} {
    background-color:$color;
  }
}

@each $index, $b in $block {
  .bs-mt-#{$index} {
    margin-top:$b;
  }
}
@each $index, $b in $block {
  .bs-mb-#{$index} {
    margin-bottom:$b;
  }
}
@each $index, $b in $block {
  .bs-ml-#{$index} {
    margin-left:$b;
  }
}
@each $index, $b in $block {
  .bs-mr-#{$index} {
    margin-right:$b;
  }
}
@each $index, $b in $block {
  .bs-pt-#{$index} {
    padding-top:$b;
  }
}
@each $index, $b in $block {
  .bs-pl-#{$index} {
    padding-left:$b;
  }
}
@each $index, $b in $block {
  .bs-pr-#{$index} {
    padding-right:$b;
  }
}
@each $index, $b in $block {
  .bs-pb-#{$index} {
    padding-top:$b;
  }
}

.section{
  h6{

  }
  form{
    .form-group{
      div{
        a{
          line-height: 34px;
        }
      }
    }
  }
}
.image-preview{
  width:260px;
  height: 270px;
  line-height:260px;
  text-align:center;
  border:1px solid #e6e6e6;
}
.message-list{
  div{
    .panel-heading{
        cursor:pointer;
    }
  }
}