<include file="public:header" title="我的消息" this="__CSS__/compiled/tables.css"/>
<include file="public:navbar"/>
<include file="public:sidebar"/>
<style>
    .daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
        float: right;
        margin: 4px;
    }
    .daterangepicker .calendar {
        display: none;
        max-width: 270px;
    }
    .daterangepicker .ranges li {
        font-size: 13px;
        background: #f5f5f5;
        border: 1px solid #f5f5f5;
        color: #2dc3e8;
        padding: 3px 12px;
        margin-bottom: 8px;
        cursor: pointer;
    }
    .daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
        float: right;
        margin: 4px;
    }
    .daterangepicker .ranges ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .daterangepicker .ranges .input-mini {
        background-color: #eee;
        border: 1px solid #ccc;
        color: #555;
        display: block;
        font-size: 11px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        margin: 0 0 10px 0;
        padding: 0 6px;
        width: 74px;
    }
    .daterangepicker .ranges {
        width: 160px;
        text-align: left;
    }
    .daterangepicker td.in-range {
        background: #d0e7fc;
        -webkit-border-radius: 0;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 0;
        -moz-background-clip: padding;
        border-radius: 0;
        background-clip: padding-box;
    }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
        white-space: nowrap;
        text-align: center;
        min-width: 32px;
    }
    .daterangepicker td.in-range {
        background: #d0e7fc;
        -webkit-border-radius: 0;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 0;
        -moz-background-clip: padding;
        border-radius: 0;
        background-clip: padding-box;
    }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
        white-space: nowrap;
        text-align: center;
        min-width: 32px;
    }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
        white-space: nowrap;
        text-align: center;
        min-width: 32px;
    }
    .daterangepicker select.yearselect {
        width: 40%;
    }
    .daterangepicker select.monthselect, .daterangepicker select.yearselect {
        font-size: 12px;
        padding: 1px;
        height: auto;
        margin: 0;
        cursor: default;
    }
    .form-control, select {
        font-size: 13px;
        color: #858585;
        background-color: #fbfbfb;
        border: 1px solid #d5d5d5;
        padding: 6px 12px;
    }
    select {
        margin: 0;
        height: 24px;
        border-color: #d0dde9;
        border-radius: 2px;
        font-size: 13px;
    }
    input, button, select, textarea {
        font-family: "Open Sans", Arial;
    }
    input, button, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    button, select {
        text-transform: none;
    }
    .table-condensed thead > tr > th, .table-condensed tbody > tr > th, .table-condensed tfoot > tr > th, .table-condensed thead > tr > td, .table-condensed tbody > tr > td, .table-condensed tfoot > tr > td {
        padding: 5px;
    }
    .daterangepicker td, .daterangepicker th {
        text-align: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        white-space: nowrap;
    }
    .daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
        background: #2dc3e8;
        border: 1px solid #2dc3e8;
        color: #fff;
    }
    .daterangepicker .ranges .range_inputs>div {
        float: left;
    }
    .daterangepicker .ranges label {
        color: #333;
        display: block;
        font-size: 11px;
        font-weight: normal;
        height: 20px;
        line-height: 20px;
        margin-bottom: 2px;
        text-transform: uppercase;
        width: 74px;
    }
    .calendar-time select {
        margin: 10px 0 0 0;
        height: 32px;
        border-color: #d0dde9;
        border-radius: 2px;
        font-size: 13px;
    }
</style>
<div class="content">
    <div id="pad-wrapper">
        <div class="table-wrapper products-table section">
            <div class="row head">
                <div class="col-md-12">
                    <h4>我的产品</h4>
                </div>
            </div>
            <div class="bs-mt-10"></div>
            <div class="row filter-block">
                <div class="col-lg-12">
                    <label class="label label-default">订单数:{$c}单</label>
                    <label class="label label-default">支付单:{$c1}单</label>
                    <label class="label label-default">分成金:{$sum}元</label>
                    <hr>
                    <div>
                        <form action="__SEL__" method="get">
                            <div id="reportrange" class="pull-left form-control" style="background:#fff;line-height:21px;cursor:pointer;padding:5px 10px;border: 1px solid #ccc;width:310px;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span id="times"></span> <b class="caret"></b>
                            </div>
                            <div class="clearfix"></div>
                            <button type="button" class="btn btn-flat primary export" style="margin-top:10px;">导出数据</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 pull-right bs-mb-10">
                    <a class="btn-flat success new-product delete-all">选中删除</a>
                </div>
                <notempty name="list">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox">
                                产品名称
                            </th>
                            <th>
                                <span class="line"></span>产品单价
                            </th>
                            <th>
                                <span class="line"></span>购买数量
                            </th>
                            <th>
                                <span class="line"></span>支付金额
                            </th>
                            <th>
                                <span class="line"></span>产品分成
                            </th>
                            <th >
                                <span class="line"></span>分成金额
                            </th>
                            <th >
                                <span class="line"></span>下单时间
                            </th>
                            <th >
                                <span class="line"></span>支付时间
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        <volist name="list" id="vo">
                            <tr class="first">
                                <td>
                                    <input type="checkbox" value="{$vo.id}" class="message">
                                    <a href="javascript:;" class="name">{$vo.ordtitle}</a>
                                </td>
                                <td class="">
                                    {$vo.ordprice}
                                </td>
                                <td>
                                    {$vo.ordbuynum}
                                </td>
                                <td class="description">
                                    {$vo.ordfee}
                                </td>
                                <td>
                                    {$vo.divides*100}%
                                </td>
                                <td>
                                    <eq name="vo.ordstatus" value="1">
                                        <span class="text-success">{$vo['divides']*$vo['ordfee']}</span>
                                        <else />
                                        <span class="text-danger">未支付不能获得</span>
                                    </eq>
                                </td>
                                <td>
                                    {$vo.ordtime|date='Y-d-d H:i:s',###}
                                </td>
                                <td >
                                    <notempty name="vo.finishtime">
                                        {$vo.finishtime|date='Y-d-d H:i:s',###}
                                        <else />
                                        <span class="text-danger">未完成支付</span>
                                    </notempty>
                                    <ul class="actions">
                                        <li class="last"><a href="__URL__/delete?id={$vo.id}" class="delete">删除</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <else />
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <h4>:)暂无任何订单</h4>
                    </div>
                </notempty>
            </div>
            <hr>
            <div>
                {$list->render()}
            </div>
        </div>
        <!-- end products table -->
    </div>
</div>
<script src="/static/admin/js/datetime/bootstrap-datepicker.js"></script>
<script src="/static/admin/js/datetime/moment.js"></script>
<script src="/static/admin/js/datetime/daterangepicker.js"></script>
<script>

    $(document).on('click','.export',function(e){
        e.preventDefault();
        var time = $('#times').text(),
            user = $('#this_name').val();
        var index = layer.load(2, {
            shard: [0.6, "#000"]
        });
        $.post('__URL__/export',{time:time,user:user},function (result) {
            layer.close(index);
            if(result.status==1){
                window.location.href=result.redirect;
            }else {
                layer.alert(result.msg,{icon:5});
            }
        });
    });

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY/MM/DD HH:mm:ss') + '- ' + end.format('YYYY/MM/DD HH:mm:ss'));
    }
    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        maxDate : moment(), //最大时间
        dateLimit : {
            days : 30
        }, //起止时间的最大间隔
        showDropdowns : true,
        showWeekNumbers : false, //是否显示第几周
        timePicker : true, //是否显示小时和分钟
        timePickerIncrement : 60, //时间的增量，单位为分钟
        timePicker12Hour : false, //是否使用12小时制来显示时间
        ranges : {
            '最近1小时': [moment().subtract('hours',1), moment()],
            '今日': [moment().startOf('day'), moment()],
            '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
            '最近7日': [moment().subtract('days', 6), moment()],
            '最近30日': [moment().subtract('days', 29), moment()]
        },
        locale:{
            applyLabel:'应用',
            cancelLabel:'取消',
            fromLabel:'开始',
            toLabel:'结束',
            customRangeLabel : '自定义',
            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月' ]
        }
    }, cb);
    cb(start, end);

    $(function () {
        $(document).on('click','.delete',function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.post(url,{},function (result) {
                if(result.status==0){
                    layer.alert(result.msg,{icon:5});
                }else{
                    layer.alert(result.msg,{icon:6,end:function () {
                        window.location.reload();
                    }});
                }
            });
        });
        $('select').change(function () {
            var status = $(this).val();
            window.location.href = '{:Url("/account/message")}?status='+status;
        });
        $(document).on('click','.delete-all',function (e) {
            e.preventDefault();
            var del = '';
            $('input[type="checkbox"].message:checked').each(function () {
                del +=  "," + $(this).val();
            });
            if(del){
                del = del.substring(1);
				var index = layer.load({type:2});
                $.post('__URL__/delete_all',{id:del},function (result) {
					layer.closeAll();
                    if(result.status==0){
                        layer.alert(result.msg,{icon:5});
                    }else{
                        layer.alert(result.msg,{icon:6,end:function () {
                           window.location.reload();
                        }});
                    }
                });
            }
        })
    })
</script>
<include file="public:footer"/>