<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="{:Url('/account/information')}">
                <i class="icon-home"></i>
                <span>首页</span>
            </a>
        </li>
        <li <eq name="controller" value="user">class="active"</eq>>
            <a class="dropdown-toggle" href="javascript:;">
                <i class="icon-group"></i>
                <span>个人资料</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu" <eq name="controller" value="user">style="display:block;"</eq>>
                <li><a href="{:Url('/account/personal_info')}"  <eq name="action" value="personal_info">class="active"</eq>>基本信息</a></li>
                <li><a href="{:Url('/account/check')}" <eq name="action" value="check">class="active"</eq>>认证信息</a></li>
                <li><a href="{:Url('/account/message')}" <eq name="action" value="message">class="active"</eq>>我的消息</a></li>
            </ul>
        </li>
        <li <eq name="controller" value="product">class="active"</eq>>
            <a class="dropdown-toggle" href="javascript:;">
                <i class="icon-edit"></i>
                <span>产品信息</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu" <eq name="controller" value="product">style="display:block;"</eq>>
                <li><a href="{:Url('/account/product')}" <eq name="action" value="index">class="active"</eq>>可申请产品</a></li>
                <li><a href="{:Url('/account/has')}"  <eq name="action" value="has">class="active"</eq>>已申请产品</a></li>
            </ul>
        </li>

        <li>
            <a href="{:Url('/account/income')}" <eq name="action" value="index">class="active"</eq>>
                <i class="icon-cog"></i>
                <span>我的收益</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->