<include file="public/header" title="{$model.name}" keywords="{$model.name}"/>
<link href="__CSS__/dataTables.bootstrap.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption pull-left"><i class="fa fa-columns"></i>&nbsp;{$model.name}</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="col-xs-12 col-md-12 col-lg-12 pb10 zindex">
                    <a href="__URL__/status" data-role="forbidden" class="btn btn-warning status">选中禁用</a>
                    <a href="__URL__/status" data-role="enable" class="btn btn-info status">选中启用</a>
                    <a href="__URL__/status" data-role="delete-all" class="btn btn-danger status">选中删除</a>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-md-12 form-search">
                        <form id="search" autocomplete="off" action="__SELF__" method="get" class="form-horizontal" novalidate="novalidate">
                            <div class="col-xs-12 col-md-3 col-lg-3 mt10" style="padding:0">
                                <span class="input-icon">
                                    <input type="search" name="s_keywords" value="{$search.s_keywords}" class="form-control search"  placeholder="订单编号/订单标题">
                                    <input type="hidden" name="p" value="{:input('p')}">
                                    <input type="hidden" name="id" value="{:input('id')}">
                                    <i class="glyphicon glyphicon-search blue"></i>
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-3 mt10" style="padding:0">
                                <span class="input-icon">
                                    <input type="search" name="s_username" value="{$search.s_username}" class="form-control search"  placeholder="用户账号">
                                    <i class="glyphicon glyphicon-search blue"></i>
                                </span>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-3 mt10" style="padding:0;">
                                <div class="input-group" style="padding:0">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" name="s_date" value="{$search.s_date}" style="padding:0" class="form-control" placeholder="请选择日期" id="reservation">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-2 mt10" style="padding:0">
                                <select name="s_status" style="padding-right:0">
                                    <option value="-1">--全部--</option>
                                    <option value="0" <eq name="search.s_status" value="0">selected</eq><eq name="search.s_status" value="">selected</eq>>启用</option>
                                    <option value="1" <eq name="search.s_status" value="1">selected</eq>>禁用</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary onSearch mt10">搜素</button>
                        </form>
                    </div>
                    <script src="__JS__/datetime/bootstrap-datepicker.js"></script>
                    <script src="__JS__/datetime/moment.js"></script>
                    <script src="__JS__/datetime/daterangepicker.js"></script>
                    <script type="text/javascript">
                        $(function(){
                            //区域日期选择
                            if($('#reservation').length){
                                $('#reservation').daterangepicker({
                                    format:'YYYY/MM/DD',
                                    locale:{
                                        applyLabel:'应用',
                                        cancelLabel:'取消',
                                        fromLabel:'开始',
                                        toLabel:'结束',
                                        daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                                        monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                                            '七月', '八月', '九月', '十月', '十一月', '十二月' ]
                                    }
                                });
                            }
                        });
                    </script>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="col-xs-12 col-md-12 col-lg-12 mt10">
                        <h6>[{$member}]订单统计</h6>
                        <label class="label label-success">订单金额:{$totals}元</label>
                        <label class="label label-success">支付金额:{$free_totals}元</label>
                        <label class="label label-success">总下的单量:{$counts}单</label>
                        <label class="label label-success">实际支付单量:{$free_counts}单</label>
                        <label class="label label-danger">支付比例:{$percent}%</label>
                        <br>
                        <label class="label label-success">今日订单金额:{$_totals}元</label>
                        <label class="label label-success">今日支付金额:{$_free_totals}元</label>
                        <label class="label label-success">今日总的下单量:{$_counts}单</label>
                        <label class="label label-success">今日实际支付单量:{$_free_counts}单</label>
                        <label class="label label-danger">今日支付比例:{$_percent}%</label>
                        <hr>
                        <h6>导出数据</h6>
                        <div id="reportrange" class="pull-left" style="background:#fff;line-height:21px;cursor:pointer;padding:5px 10px;border: 1px solid #ccc;width:310px;">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span id="times"></span> <b class="caret"></b>
                        </div>
                        <select name="user" id="user" class="pull-left">
                            <option value="">所有用户</option>
                            <option value="1">指定用户</option>
                        </select>
                        <input type="text" id="this_name"  class="form-control" style="width:200px;height:33px;display:none;" placeholder="指定用户名称">
                        <div class="clearfix"></div>
                        <button type="button" class="btn btn-sky export">导出数据</button>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover pt10" id="simpledatatable">
                    <thead>
                    <tr>
                        <th style="width:80px">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="group-checkable">
                                    <span class="text"></span>
                                </label>
                            </div>
                        </th>
                        <th>订单编号</th>
                        <th class="hidden-xs">订单标题</th>
                        <th class="hidden-xs">产品单价</th>
                        <th class="hidden-xs">支付金额</th>
                        <th class="hidden-xs">下单时间</th>
                        <th class="hidden-xs">支付时间</th>
                        <th class="hidden-xs">支付账号</th>
                        <!--<th class="hidden-xs">支付类型</th>-->
                        <th style="width:80px;">状态</th>
                        <th style="width:120px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="checkboxes" value="{$vo.id}">
                                        <span class="text"></span>
                                    </label>
                                </div>
                            </td>
                            <td class="">
                                {$vo.ordid}
                            </td>
                            <td class="hidden-xs">
                                {$vo.ordtitle}
                            </td>
                            <td class="hidden-xs">
                               {$vo.ordprice}
                            </td>
                            <td class="hidden-xs">
                                {$vo.ordfee}
                            </td>
                            <td class="hidden-xs">
                                <notempty name="vo.ordtime">
                                    {$vo.ordtime|date='Y-m-d H:i:s',###}
                                </notempty>
                            </td>
                            <td class="hidden-xs">
                               <notempty name="vo.finishtime">
                                   {$vo.finishtime|date='Y-m-d H:i:s',###}
                               </notempty>
                            </td>
                            <td class="hidden-xs">
                                {$vo.payment_buyer_email}
                            </td>
                            <!--<td class="hidden-xs">-->
                                <!--{$vo.payment_type}-->
                            <!--</td>-->
                            <td>
                                <eq name="vo.ordstatus" value="0"><span class="text-danger">未支付</span></eq>
                                <eq name="vo.ordstatus" value="1"><span class="text-success">已付款</span></eq>
                            </td>
                            <td>
                                <a href="__URL__/add?id={$vo['id']}&aid={:input('aid')}">查看</a>
                                <a href="__URL__/status" data-role="delete"  data-id="{$vo.id}" class="status">删除</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <div class="mt10">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#user').change(function () {
           var val = $(this).val();
           if(val==1){
               $('#this_name').show();
           }else{
               $('#this_name').hide();
           }
        });

        $(document).on('click','.export',function (e) {
           var time = $('#times').text(),
                user = $('#this_name').val();
           $.post('__URL__/export',{time:time,user:user},function (result) {

           });
        });

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('YYYY/MM/DD HH:mm:ss') + '- ' + end.format('YYYY/MM/DD HH:mm:ss'));
        }
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            maxDate : moment(), //最大时间
            dateLimit : {
                days : 30
            }, //起止时间的最大间隔
            showDropdowns : true,
            showWeekNumbers : false, //是否显示第几周
            timePicker : true, //是否显示小时和分钟
            timePickerIncrement : 60, //时间的增量，单位为分钟
            timePicker12Hour : false, //是否使用12小时制来显示时间
            ranges : {
                //'最近1小时': [moment().subtract('hours',1), moment()],
                '今日': [moment().startOf('day'), moment()],
                '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                '最近7日': [moment().subtract('days', 6), moment()],
                '最近30日': [moment().subtract('days', 29), moment()]
            },
            opens : 'right', //日期选择框的弹出位置
            locale:{
                applyLabel:'应用',
                cancelLabel:'取消',
                fromLabel:'开始',
                toLabel:'结束',
                customRangeLabel : '自定义',
                daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月' ]
            }
        }, cb);
        cb(start, end);
        $('#simpledatatable').dataTable({
            "sDom": "Tflt",
            "iDisplayLength":'{$count}',
            "searching": false,
            "paging":false,
            "oTableTools": {
                "aButtons": [

                ],
                "sSwfPath": "//cdn.bootcss.com/datatables-tabletools/2.1.5/swf/copy_csv_xls_pdf.swf"
            },
            "language": {
                "search": "",
                "sEmptyTable": "暂无数据",
                "sLengthMenu": "_MENU_",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumns": [
                { "bSortable": false },
                { "bSortable": true },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": false },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": false }
            ],
            "aaSorting": []
        });
        $('#simpledatatable .group-checkable').change(function () {
            var set = $(".checkboxes");
            var checked = $(this).is(":checked");
            $(set).each(function () {
                if (checked) {
                    $(this).prop("checked", true);
                    $(this).parents('tr').addClass("active");
                } else {
                    $(this).prop("checked", false);
                    $(this).parents('tr').removeClass("active");
                }
            });

        });
        $(document).on('click','.reset-password',function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            layer.confirm('您确定要初始化吗?初始化后原密码不可用!', {
                btn: ['是的确定','不没想好'] //按钮
            }, function(){
                var index = layer.load(2, {
                    shard: [0.6, "#000"]
                });
                $.get(url,function(result){
                    layer.close(index);
                    if (result.status==1) {
                        layer.alert(result.msg, {
                            icon: 6,
                            end: function() {
                                window.location.reload();
                            }
                        });
                    }else{
                        layer.alert(result.msg,{icon:5});
                    }
                });
            });
        })
    });
</script>
<include file="public/footer"/>