<include file="public:header" title="我的消息" this="__CSS__/compiled/gallery.css"/>
<include file="public:navbar"/>
<include file="public:sidebar"/>
<div class="content">
    <div id="pad-wrapper" class="gallery">
        <div class="row header bs-mb-10">
            <div class="col-md-12">
                <h3>我的消息</h3>
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>
        <div class="message-list">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">认证消息</div>
                    <div class="panel-body hide">
                        <p>恭喜您,魏巍你的认证已通过</p>
                        <p class="text-right">2017-8-4</p>
                        <p class="text-right">东游科技</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">新产品消息</div>
                    <div class="panel-body hide">
                        <p>恭喜您,魏巍你的认证已通过</p>
                        <p class="text-right">2017-8-4</p>
                        <p class="text-right">东游科技</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">收益消息</div>
                    <div class="panel-body hide">
                        <p>恭喜您,魏巍你的认证已通过</p>
                        <p class="text-right">2017-8-4</p>
                        <p class="text-right">东游科技</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">分成消息</div>
                    <div class="panel-body hide">
                        <p>恭喜您,魏巍你的认证已通过</p>
                        <p class="text-right">2017-8-4</p>
                        <p class="text-right">东游科技</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<include file="public:footer"/>